.layui-fluid {
    padding: 15px;
}

/*输入框样式*/
.layui-input-sm {
    height: 30px;
    line-height: 30px;
}
.layui-input-lg {
    height: 46px;
    line-height: 46px;
}

/*按钮组默认样式*/
.input-group-addon {
    background: white;
}

/*解决bootstrap的兼容问题*/
.layui-nav-child dd {
    line-height: 36px;
}
a,a:hover {
    text-decoration: none !important;
}
.layui-form .layui-form-label{
    width: 110px;
    padding: 0px 9px 0px 0px;
    text-align: right;
    line-height: 30px;
    height: 30px;
    margin-bottom: 0px;
}

/*表单标签必填*号样式*/
.layui-form .layui-form-label b{
    position: absolute;
    color: red;
}

.layui-form .layui-input-block{
    min-height: 30px;
}
/*样式优化*/
.layui-form-item{
    margin-bottom: 10px;
}
.layui-form-item .layui-inline{
    margin-bottom: 0px;
}
/*弹出框样式*/
.layui-layer-content{
    padding: 10px;
}